In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.\
builder.\
appName("sparksql").\
getOrCreate()

In [4]:
print(spark.version)

3.3.2

In [5]:
data = spark.read.format('csv').\
option('inferSchema','true').\
option('header', 'true').\
option('path','operations_management.csv').\
load()

In [6]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [7]:
data_2 = data.select("industry","value").\
filter((col("value") > 200) & (col("industry") != "total")).\
orderBy(desc("value"))

In [8]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [9]:
data_2.show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
+--------------------+-----+
only showing top 5 rows

In [21]:
#creating temporary view with filter and query using spark.sql

data_2.createOrReplaceTempView("data")

In [16]:
spark.sql("""SELECT industry, value 
FROM data 
WHERE value > 200 
AND industry != "total"
""").show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
|       Manufacturing| 4632|
|        Construction| 4575|
|        Construction| 4566|
|Professional, sci...| 4476|
|Professional, sci...| 4470|
|        Retail trade| 4434|
|        Retail trade| 4434|
|Accommodation & f...| 4251|
|Accommodation & f...| 4176|
+--------------------+-----+
only showing top 20 rows

In [19]:
data.createOrReplaceTempView("test")

In [20]:
spark.sql("""SELECT * FROM test
""").show()

+--------------------+--------------------+-----+---------------+---------+-----+
|         description|            industry|level|           size|line_code|value|
+--------------------+--------------------+-----+---------------+---------+-----+
|Awareness of clim...|               total|    0| 6–19 employees| C0300.01|13080|
|Awareness of clim...|               total|    0|20–49 employees| C0300.01| 3348|
|Awareness of clim...|               total|    0|50–99 employees| C0300.01| 1089|
|Awareness of clim...|               total|    0| 100+ employees| C0300.01| 1023|
|Awareness of clim...|Agriculture, fore...|    1|          total| C0300.01| 2364|
|Awareness of clim...|         Agriculture|    2|          total| C0300.01| 1683|
|Awareness of clim...|  Commercial fishing|    2|          total| C0300.01|   27|
|Awareness of clim...|  Forestry & logging|    2|          total| C0300.01|  126|
|Awareness of clim...|Agriculture, fore...|    2|          total| C0300.01|  528|
|Awareness of clim...|              Mining|    1|          total| C0300.01|   72|
|Awareness of clim...|       Manufacturing|    1|          total| C0300.01| 1971|
|Awareness of clim...|Food, beverage, &...|    2|          total| C0300.01|  588|
|Awareness of clim...|Textile, clothing...|    2|          total| C0300.01|   96|
|Awareness of clim...|Wood & paper product|    2|          total| C0300.01|  156|
|Awareness of clim...|Printing, publish...|    2|          total| C0300.01|   72|
|Awareness of clim...|Petroleum, coal, ...|    2|          total| C0300.01|  189|
|Awareness of clim...|Non-metallic mine...|    2|          total| C0300.01|  108|
|Awareness of clim...|       Metal product|    2|          total| C0300.01|  246|
|Awareness of clim...|Transport and ind...|    2|          total| C0300.01|  285|
|Awareness of clim...|Other machinery &...|    2|          total| C0300.01|  117|
+--------------------+--------------------+-----+---------------+---------+-----+
only showing top 20 rows