In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Create a connection string for MySQL
host = 'localhost'
user = 'root'
password = 'syakeer'
database = 'classicmodels'
port = '3306'  # The default MySQL port is 3306

# Construct the connection string
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Execute a SQL query and retrieve data into a DataFrame
sql_query = 'SELECT * FROM classicmodels.orders'
df = pd.read_sql_query(sql_query, engine)

In [2]:
df.head()

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141

In [3]:
output_file = r'C:\Users\Muhammad Syakeer\OneDrive - Soft Space Sdn Bhd\Documents\Jupyter Notebook\output.xlsx'
df.to_excel("output.xlsx", index=False)

In [6]:
engine.dispose()